.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.7rem 0;
}

.header {
  /* margin: 20px 0 0; */

  background-color: rgb(49, 49, 49);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.logo {
  color: orangered;
}

.nav-bar {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar p {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 10px;
  border: 2px solid rgb(49, 49, 49);
  margin-left: 15px;
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-bar p:hover {
  /* color: palegreen; */
  border: 2px solid palegreen;
}

@media screen and (min-width: 500px) {
  .nav-bar p {
    font-size: 1rem;
    margin-left: 20px;
  }
}
